@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* --background: #ffffff;
  --foreground: #171717; */
  --main-red: #CB0000;
  /* --main-red: #9C0D0F; */
  --secondary-red: #f39191;
  --main-beige: #F5EFE8;
  --main-blue: #308edb;
  --font-family-primary: var(--font-inter);
  --font-weight-medium: 500;
  --font-weight-semibold: 600;
  --font-weight-bold: 700;
  --font-title-size: 30px;
  --font-subtitle-size: 30px;
  --font-paragraph-size: 20px;
  --font-navbar-size: 20px;
}

@media (prefers-color-scheme: dark) {
  :root {
    /* --background: #0a0a0a;
    --foreground: #ededed; */
  }
}