.header {
    position: fixed;
    top: 5%;
    left: 10vw;
    border-radius: 5px;
    width: 80%;
    height: 75px;
    display: flex;
    justify-content: center; 
    align-items: center;
    background-color: var(--main-beige);
    color: var(--main-blue);
    padding: 10px 0;
    z-index: 1000;
    font-family: var(--font-family-primary);
    font-weight: var(--font-weight-semibold);
    font-size: var(--font-navbar-size);

}

.navList {
    list-style: none;
    display: flex;
    gap: 200px;
    justify-content: space-around;
    margin: 0;
    padding: 0;
}

.navItem {
    margin: 0;
    display: inline-block;
    cursor: pointer;

    background-image: linear-gradient(to right, var(--main-red), var(--main-red));
    background-repeat: no-repeat;

    background-size: 5px 100%;
    background-position: 0 0;
    transition: 
        background-size 0.2s,
        background-position 0.2s 0.3s;
}

.navItem:hover {
    background-size: 100% 100%;
    background-position: 100% 0;
}

.navLink {
    color: var(--main-red);
    text-decoration: none;
    padding: 10px 20px;
}

.navLink:hover {
    color: var(--main-blue);
}